/************* MEDIA ************/
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  
  .contact__form {
    width: 100%;
  }
}

@media screen and (max-width: 591px) {
  .contact {
    height: 100%;
    padding-top: 80px;
    h1 {
      font-size: 40px;
    }
  }

  .contact__form {
    padding: 10px 40px 60px;
    p {
      padding-bottom: 20px;
    }
  }

  .inputs {
    margin-right: 0;
  }

  input:last-child {
    margin-bottom: 15px;
  }

  textarea {
    height: 150px;
  }

  input.form__button {
    margin-top: 10px;
  }

  .footer {
    position: relative;
    &:before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .contact h1 {
    font-size: 48px;
  }

  .title__phone {
    display: inline-block;
    width: 100%;
  }

  .contact__form {
    padding: 10px 20px 50px;
  }
}

@media screen and (max-width: 375px) {
  .contact {
    padding-top: 60px;
    h1 {
      font-size: 43px;
    }
  }
}