/********* FONTS **********/
$main-font: 'OpenSansLight', sans-serif;  
$title: 'HelveticaNeueLTStd-ThCn', sans-serif;
$other: 'OpenSansItalic', sans-serif;
$button: 'OpenSansBold', sans-serif;
$form: 'OpenSans', sans-serif;


/********* COLORS **********/
$main-color: #fff;
$title-color: #e76122;
$active-color: #3a30f8;
$other-color: #5dbdb1;